# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Plataforma generada por `flutter create .`
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.idea/
*.iml
.vscode/

# Misc
.DS_Store
